ASSOCIATION RULE MINING :

20MCS1008

ANN MARIYA XAVIER

In [1]:
import pandas as pd
from itertools import combinations
import numpy as np

In [3]:
data=[['A,B,E'],['B,D,E'],['A,C'],['A,B,D'],['A,D'],['B,C'],['A,C'],['A,C,D,E'],['A,B,C']]
df=pd.DataFrame(data, columns = ['List_of_items'])

In [4]:
df

  List_of_items
0         A,B,E
1         B,D,E
2           A,C
3         A,B,D
4           A,D
5           B,C
6           A,C
7       A,C,D,E
8         A,B,C

In [5]:
index = df.index
no_of_transactions = len(index)
no_of_transactions

9

In [7]:
min_support=(20/100)*9
min_support

1.8

In [8]:
Candidate_set = []
Frequent_set = []
items = pd.unique(df.values.ravel('K'))
items = items[~pd.isnull(items)]


for iterno in range(1,len(items)): 
    Count = {}
    intermediate = []
    
    if iterno==1:
        Candidate_set.append(items)
        for txn in Candidate_set[iterno-1]:
            ctr=0
            for val in df.values:
                if txn in val:
                    ctr+=1
            Count[txn] = ctr
    else:
        Candidate_set.append(list(combinations(np.unique(np.array(Frequent_set[iterno-2]).ravel('K')),iterno)))
        for txn in Candidate_set[iterno-1]:
            ctr = 0
            for val in df.values:
                if all(i in val for i in txn):
                    ctr+=1
            Count[txn] = ctr
            
    for k in Count.keys():
        if Count[k] >= min_support:
            intermediate.append(k)

    if intermediate == []:
        print(Frequent_set)
        break

    Frequent_set.append(intermediate)

[['A,C']]